# 4.10 Crosstabs Testing

## This Script contains the following

### 1. Creating a Crosstab
### 2. Using Excel to Edit Python Text

In [2]:
# Import Libraries

import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [3]:
# Set Path

path = r'C:\Users\Marvin\Instacart Basket Analysis'

In [4]:
# Import Data

insta_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merged_2.pkl'))

In [5]:
# Check output

insta_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,time_of_day,...,order frequency flag,first_name,surname,Gender,State,Age,date_joined,dependants,family_status,income
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,Frequent customer,Charles,Cox,Male,Minnesota,81,2019-08-01,1,married,49620
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,Frequent customer,Charles,Cox,Male,Minnesota,81,2019-08-01,1,married,49620
2,907,Premium Sliced Bacon,106,12,20.0,3160996,138,1,5,13,...,Frequent customer,Charles,Cox,Male,Minnesota,81,2019-08-01,1,married,49620
3,907,Premium Sliced Bacon,106,12,20.0,2254091,138,10,5,14,...,Frequent customer,Charles,Cox,Male,Minnesota,81,2019-08-01,1,married,49620
4,1000,Apricots,18,10,12.9,505689,138,9,6,12,...,Frequent customer,Charles,Cox,Male,Minnesota,81,2019-08-01,1,married,49620

### 1. Creating a Crosstab

In [6]:
# Change Days Since Prior Order column datatype to Int16Dtype to ensure its compatible with crosstab function

insta_merge['days_since_prior_order'] = insta_merge['days_since_prior_order'].astype(pd.Int16Dtype())

In [7]:
print(insta_merge.index)

RangeIndex(start=0, stop=32404859, step=1)

In [8]:
insta_merge.reset_index(inplace=True)

In [9]:
# Create a Crosstab to Inspect Days since prior order and Order number - this will let us see whether or not all order numbers are 1 for NaN values in days since prior order

crosstab = pd.crosstab(insta_merge['days_since_prior_order'], insta_merge['order_number'], dropna = False)

In [10]:
# Copy crosstab to clipboard for pasting into excel

crosstab.to_clipboard()

### 2. Using Excel to Edit Python Text

In [11]:
insta_merge.columns

Index(['index', 'product_id', 'product_name', 'aisle_id', 'department_id',
       'prices', 'order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'time_of_day', 'days_since_prior_order', 'add_to_cart_order',
       'reordered', '_merge', 'price_range_loc', 'busiest day', 'busiest_days',
       'busiest_period_of_day', 'max_order', 'loyalty_flag', 'average spent',
       'spending flag', 'regularity', 'order frequency flag', 'first_name',
       'surname', 'Gender', 'State', 'Age', 'date_joined', 'dependants',
       'family_status', 'income'],
      dtype='object')